services: 
    app:
        container_name: app
        build: 
            context: ./
            dockerfile: Dockerfile
        restart: always
        ports: 
            - "8080:8080"
    api:
        container_name: api
        build: 
            context: ./
            dockerfile: Dockerfile.api
        restart: always
        ports: 
            - "8081:8081"
        depends_on:
            - postgres
    postgres:
        container_name: postgres
        image: postgres:14
        restart: always
        environment:
            POSTGRES_USER: bed_user
            POSTGRES_PASSWORD: bed_password
            POSTGRES_DB: bed_db
        ports:
            - "5432:5432"
        volumes:
            - postgres-db-volume:/var/lib/postgresql/data        
        # volumes:
        #     - ./postgres_data:/var/lib/postgresql/data
    # nginx:
    #     depends_on: 
    #         - docker-fastapi
    #     container_name: proxy-app
    #     build: 
    #         context: ./
    #         dockerfile: Dockerfile
    #     ports: 
    #         - "80:80"
    #     restart: always

volumes:
    postgres-db-volume:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: ./data